<!DOCTYPE html>
<html>
  <head>
    <title>Happyhippos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8" />
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
  </head>

  <body style="background-color:white;">
    <div class="row">
      <div class="col-sm-12 text-xs-center bootstrap-welcome">
        <h1>Bootstrap 4 Works!</h1>
        <p class="lead">Go ahead and build your awesome app now.</p>
      </div>
    </div>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</html>




